@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vw;
}

#secInic, #secSec {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
}

.risco, .recomendacao {
    width: 90%;
    border-radius: 2vw;
    margin-top: 3vh;
    padding: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.risco {
    background-color: #00B147;
    color: white;
    text-align: center;
    padding-block: 20%;
    
}

.recomendacao {
    background-color: white;
    position: relative;
    padding: 3vw;
    font-size: 3.5vw;
    line-height: 1.5;
}

#iconVeri {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#iconVeri img {
    width: 35vw;
    margin-right: 5vw;
    margin-left: 5vw;
}

#iconVeri span {
    font-size: 8vw;
    color: white;
}

.local {
    position: absolute;
    top: 42vh;
    left: 60%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-size: 5vw;
    z-index: 10;
}

.recomendacao img {
    width: 8vw;
    position: absolute;
    top: 2%;
    left: 10%;
}

.recomendacao span {
    font-size: 4vw;
    margin-left: 10vw;
}

@media (min-width: 600px) {
    .recomendacao span, .recomendacao img {
        font-size: 2.5vw;
    }
}

@media (min-width: 1024px) {
    .risco, .recomendacao {
        width: 70%;
        padding: 2vw;
        height: 40%;
    }

    .risco h1 {
        font-size: 4vw;
    }

    .recomendacao span {
        font-size: 2vw;
    }

    #iconVeri img {
        width: 10vw;
    }

    #iconVeri span {
        font-size: 4vw;
    }

    .local {
        font-size: 2.5vw;
        z-index: 10;
        top: 32vh;
    }

    .recomendacao img {
        width: 5vw;
    }
}
